---
import Layout from '../layout/layout.astro'
import Info from '../components/Info.astro'

const title = 'Home'
---

<Layout title={title}>
    <div class="bg-gray-700">
        <h1 class="p-4 text-white" >Personal Spotify</h1>
    </div>
    <Info />
</Layout>
