<header class="text-center bg-gray-800">
    <nav class="flex p-4 space-x-14">
        <a href="/" class="w-6 text-white">
            <img class="w-6 transform scale-150" src="/logo.png" alt="logo">
        </a>
        <ul class="flex justify-evenly w-full">
            <li><a class="text-white" href="/">Home</a></li>
            <li><a class="text-white" href="/about">About</a></li>
            <li><a class="text-white" href="/contact">Contact</a></li>
        </ul>
    </nav>
</header>