---
import { getToken } from "../services/loginService";

const token = await getToken();
---

<div>
    <p>TODO: Mostrar infos do usuario conectado no spotify</p>
    <p>Token: { console.log(token) }</p>
</div>