---
import { getToken } from "../services/loginService";

const clientId = import.meta.env.PUBLIC_CLIENT_ID;
const clientSecret = import.meta.env.PUBLIC_CLIENT_SECRET;
const token = await getToken(clientId, clientSecret);
---

<div>
    <p>TODO: Mostrar infos do usuario conectado no spotify</p>
    <p>Token: { console.log(token) }</p>
</div>